<h2>Status for {{meetup}}!</h2>
<p>
    Out of <strong>{{total}}</strong> members of this meetup, <strong>{{yes}}</strong> responded 'Yes' and <strong>{{maybe}}</strong> responded 'Maybe'.
</p>
<h3>Participants</h3>
<h4>Going</h4>
<p>{{yesParticipants}}</p>
<h4>Maybe</h4>
<p>{{maybeParticipants}}</p>
<h4>Not going</h4>
<p>{{noParticipants}}</p>
<p>
    <a href="{{link}}">{{link}}</a>
</p>
<p>
    Regards, Arran.gr
</p>