<h2>Are you going to {{meetup}}?</h2>
<em>Date: {{date}}</em>

<table cellspacing="10" cellpadding="0">
    <tr>
        <td align="center" width="100" height="40" bgcolor="#5cb85c" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff;">
            <a href="{{link}}/yes" style="font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block"><span style="color: #FFFFFF">Yes!</span></a>
        </td>
        <td align="center" width="100" height="40" bgcolor="#ed9c28" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff;">
            <a href="{{link}}/maybe" style="font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block"><span style="color: #FFFFFF">Maybe...</span></a>
        </td>
        <td align="center" width="100" height="40" bgcolor="#d2322d" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff;">
            <a href="{{link}}/no" style="font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block"><span style="color: #FFFFFF">No :(</span></a>
        </td>
    </tr>
</table>

<p>
    Here is a link to the event if you haven't decided yet. <a href="{{link}}">{{link}}</a>
</p>
<p>
    Regards, Arran.gr
</p>